* {
    box-sizing: border-box;
}

body {
    font-family: 'Ramabhadra', sans-serif;
    margin: 0px 0px;
    width: 100%;
}



#titleContainer {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 1;
    cursor: default;
}

#titleCityContainer {
    display : flex;
    flex-direction: column;
}

#title {
    margin: 0px 0px;
    display: block;
}

#cityName {
    height: 50px;
    margin-top: 0px;
    font-size: 60px;
}

#inputContainer {
    margin-top: 10px;
}

form {
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
}

#cityInput {
    height: 45px;
    font-size: 40px;
    width: 27%;
    border: 0px;
}

#submitBtn {
    height: 45px;
    width: 150px;
    border: 0px;
    border-radius: 0px;
    font-size: 40px;
}

#submitBtn:hover {
    height: 45px;
    width: 150px;
    border: 0px;
    border-radius: 0px;
    font-size: 40px;
    background-color: gray;
}

#unitToggle {
    display: flex;
    padding: 10px;
    align-self: center;
    color: white;
    font-size: 30px;
    cursor: default;
}

#unitToggle:hover {
    transform: scale(1.05)
}

.inactive {
    opacity: 50%;
}

#weatherContainer {
    opacity: 0%;
    width: 100%;
    align-self: center;
    transition: opacity 1s;
}

.dataPoint {
    justify-self: start;
    font-size: 25px;
}

#condDesc {
    font-size: 40px;
}